.aboutMainDiv .aboutMain .pLineOne {
  position: relative;
  width: max-content;
  margin: 0 auto;
  border-right: 3px solid #361aea;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;   
  animation: typewriter 2.8s steps(44) 700ms 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 65%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #361aea;}
  to{border-right-color: transparent;}
}


.aboutMainDiv {
  margin-top: 15%;
  margin-left: -30%;
  margin-right: 20%;
  background-color: #fcfcfd;
  border-left: 5px solid #361aea;
  animation: 300ms linear borderIn;
  animation-timing-function: cubic-bezier(0.2,-2,0.8,2);
}

@keyframes borderIn {
    from {
        border-left-width: 0;
    }
    to {
        border-left-width: 5px;
    }
}
@keyframes borderIn {
    from {
        border-left-width: 0;
    }
    to {
        border-left-width: 5px;
    }
}
@-moz-keyframes borderIn { /* Firefox */
    from {
        border-left-width: 0;
    }
    to {
        border-left-width: 5px;
    }
}
@-webkit-keyframes borderIn { /* Safari and Chrome */
    from {
        border-left-width: 0;
    }
    to {
        border-left-width: 5px;
    }
}
@-o-keyframes borderIn { /* Opera */
    from {
        border-left-width: 0;
    }
    to {
        border-left-width: 5px;
    }
}