
.hi{
    animation: fadeinHi 3s;
    transition: ease-in-out;
}
/*home*/
.homeIntro{
margin-top: 80%;
margin-left: 13%;
}
.homeAbout{
margin-top: 25%;
max-width: 98%;
margin-left: 10%;
}
.homeText{
font-family: 'Slabo 27px', serif!important;
margin-right: auto;
border-left: 5px solid #361aea;
animation: 300ms linear borderIn;
animation-timing-function: cubic-bezier(0.2,-2,0.8,2);
}
.cloud1{
  height: max-content;
  width: max-content;
  position:absolute;
  margin-left: 6%;
  margin-top: 14%;
  width: 100%;
  height: auto;
  max-width: 100px;
  max-height: 100px;
}
@media only screen and (max-width: 1600px){
    .cloud1{
        margin-left: auto;
    }
}
.cloud2{
  position:absolute;
  margin-left: 21%;
  margin-top: -4%;
  width: 100%;
  height: auto;
  max-width: 50px;
  max-height: 50px;
}
.hi{
font-family: 'Slabo 27px', serif!important;
}
.hi2{
font-family: 'Slabo 27px', serif!important;
height: max-content;
color: #361aea;
display: inline-block;
}
.name{
font-family: 'Ultra', serif!important;
}
@keyframes fadeinHi {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadeinHi { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadeinHi { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadeinHi { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.name{
    animation: fadeinName 4s;
    transition: ease-in-out;
}
@media only screen and (max-width: 1000px){
    .name{
        font-size: 3rem;
    }
}
@keyframes fadeinName {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadeinName { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadeinName { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadeinName { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.cloud1 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 12px); }
    100%   { transform: translate(0, -0px); }   
}
.cloud2 {
    animation-name: floating2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating2 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 7px); }
    100%   { transform: translate(0, -0px); }   
}
.me{
    animation: floating3!important;
    animation-duration: 5s!important;
    animation-iteration-count: infinite!important;
    animation-timing-function: ease-in-out!important;
}
@keyframes floating3 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, -0px); }   
}
@keyframes borderIn {
    from {
        border-left-width: 0;
    }
    to {
        border-left-width: 5px;
    }
}
@keyframes borderIn {
    from {
        border-left-width: 0;
    }
    to {
        border-left-width: 5px;
    }
}
@-moz-keyframes borderIn { /* Firefox */
    from {
        border-left-width: 0;
    }
    to {
        border-left-width: 5px;
    }
}
@-webkit-keyframes borderIn { /* Safari and Chrome */
    from {
        border-left-width: 0;
    }
    to {
        border-left-width: 5px;
    }
}
@-o-keyframes borderIn { /* Opera */
    from {
        border-left-width: 0;
    }
    to {
        border-left-width: 5px;
    }
}
