.mapucheCard{
  animation: 300ms linear borderIn;
  animation-timing-function: cubic-bezier(0.2,-2,0.8,2);
}
.buttonContainer{
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
}
.css-y6ahz9-MuiCardActions-root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectCards{
margin-bottom: 5%;
}
@keyframes borderIn {
    from {
        border-left-width: 0;
    }
    to {
        border-left-width: 5px;
    }
}
@keyframes borderIn {
    from {
        border-left-width: 0;
    }
    to {
        border-left-width: 5px;
    }
}
@-moz-keyframes borderIn { /* Firefox */
    from {
        border-left-width: 0;
    }
    to {
        border-left-width: 5px;
    }
}
@-webkit-keyframes borderIn { /* Safari and Chrome */
    from {
        border-left-width: 0;
    }
    to {
        border-left-width: 5px;
    }
}
@-o-keyframes borderIn { /* Opera */
    from {
        border-left-width: 0;
    }
    to {
        border-left-width: 5px;
    }
}
.pageHeading{
font-family: 'Ultra', serif!important;
font-size: 4rem!important;
text-align: center;
margin-top: 10%;
}
@media only screen and (max-device-width: 1500px){
    .pageHeading{
        margin-top: 10%!important;
    }
}