@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&family=Ultra&display=swap');

/* CSS
#393c3c dark background
#f0f0e7 white text
#119c8c object backgrounds and special text accents
*/
html{
  background-color: #393c3c;
}
html::-webkit-scrollbar {
    display: none;
}
body{
font-family: 'Ultra', serif;
margin: 0;
}
.typographyHeading{
font-family: 'Ultra', serif!important;
font-size: 1.8rem!important;
color: "#119c8c"!important;
text-align: center;
}
.typographyBody{
font-family: 'Slabo 27px', serif!important;
font-size: 1.5rem!important;
color: "#fff"!important;
text-align: center;
}
.button{
font-family: 'Ultra', serif!important;
font-size: 1rem!important;
}
.button:hover{
background-color: #f0f0e7!important;
color: #119c8c!important;
}
.pageHeading{
font-family: 'Ultra', serif!important;
font-size: 4rem!important;
text-align: center;
margin-top: 10%;
}
.toolbar {
display: "flex";
background-color: "transparent";
color: "transparent";
margin-left: 1%;
}
.barLink {
font-family: 'Ultra', serif!important;
font-size: 1.5rem;
margin-inline: 3%;
color: #f0f0e7!important;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.barLink:hover{
color: #119c8c!important;
-webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.navLinks{
  margin-left: 65%;
}
.author{
font-family: 'Slabo 27px', serif!important;
font-size: 2rem;
height: max-content;
width: max-content;
color: #f0f0e7;
}
