@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&family=Ultra&display=swap');

/* CSS
#d4e5f9 background colour
#fcfcfd to be used for objects, placing text on etc.
#361aea main text colour
#7615f9 accents colour
*/

/* Global */
html{
  background-color: #d4e5f9;
}
html::-webkit-scrollbar {
    display: none;
}
body{
font-family: 'Ultra', serif;
margin: 0;
}
p{
  margin: 7px;
}
.aboutIntro{
  background-color: 0!important;
}
.typographyHeading{
font-family: 'Ultra', serif!important;
font-size: 1.8rem!important;
text-align: center;
}
.typographyBody{
font-family: 'Slabo 27px', serif!important;
font-size: 1.5rem!important;
color: "#fff"!important;
text-align: center;
}
.button{
font-family: 'Ultra', serif!important;
font-size: 1rem!important;
border-radius: 0!important;
}
.button:hover{
background-color: #7615f9!important;
color: #fcfcfd!important;
}
.pageHeading{
font-family: 'Ultra', serif!important;
font-size: 4rem!important;
text-align: center;
margin-top: 10%;
}
.toolbar {
display: "flex";
background-color: "transparent";
color: "transparent";
margin-left: 1%;
}
.barLink {
font-family: 'Ultra', serif!important;
font-size: 1.5rem;
margin-inline: 3%;
color: #361aea!important;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.barLink:hover{
color: #7615f9!important;
-webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.navLinks{
  margin-left: 65%;
}
/* footer */
.boat{
  position: absolute;
  width: 2%;
  height: 25%;
  margin-left: 80%;
  margin-top: -0.5%;
}
.author{
font-family: 'Slabo 27px', serif!important;
font-size: 2rem;
height: max-content;
width: max-content;
color: #361aea;
}
.authorDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
}
.footer{
  justify-content: space-between;
}
.svgDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 1%;
}
/*home*/
.homeIntro{
  margin-top: 15%;
  margin-left: 7%;
}
.cloud1{
  margin-top: -5%;
  margin-left: -1%;
  height: max-content;
  width: max-content;
  position:fixed;
}
.cloud2{
  margin-top: 8%;
  margin-left: 14.5%;
  height: max-content;
  width: max-content;
  position:fixed;
}
.cloud3{
  margin-left: 20%;
  height: max-content;
  width: max-content;
  position:fixed;
}
.rain{
  margin-top: 10.6%;
  margin-left: 14.8%;
  height: 50px;
  width: 50px;
  position:fixed;
}
.hi{
font-family: 'Slabo 27px', serif!important;
font-size: 2rem!important;
height: max-content;
width: max-content;
color: #361aea;
}
.hi2{
font-family: 'Slabo 27px', serif!important;
height: max-content;
width: max-content;
color: #361aea;
display: inline-block;
}
.name{
font-family: 'Ultra', serif!important;
font-size: 5rem!important;
height: max-content;
width: max-content;
}
.footerDiv{
bottom: 0;
position: fixed;
width: 100%;
height: max-content;
}
.homeAbout{
margin-left: 62%;
height: max-content;
width: max-content;
}
.homeText{
font-family: 'Slabo 27px', serif!important;
}
/*about*/
.aboutHeading{
font-family: 'Ultra', serif!important;
font-size: 4rem!important;
text-align: center;
width: max-content;
margin-left: 20%;
}
.aboutBody{
font-family: 'Slabo 27px', serif!important;
font-size: 2rem!important;
width: max-content;
margin-left: 20%;
}
.iconDiv{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-left: -11%;
  margin-top: 10%;
}
.icons{
  width: 100px;
  height: 100px;
}
.aboutMain{
font-family: 'Slabo 27px', serif!important;
font-size: 2rem!important;
}
/*contact*/
.contactLink{
  font-family: 'Slabo 27px', serif!important;
  font-size: 2rem!important;
  text-decoration: none;
  color: #361aea;
}
.contactLink:hover{
color: #7615f9!important;
-webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.contactHeading{
  font-family: 'Ultra', serif!important;
  font-size: 3.5rem!important;
  text-decoration: none;
  color: #361aea;
}
.contactText{
font-family: 'Slabo 27px', serif!important;
font-size: 2rem!important;
}
.contactIconDiv1{
  align-items: center;
  max-height: max-content;
  display: flex;
}
.contactIconDiv2{
  align-items: center;
  max-height: max-content;
  display: flex;
}